<div class = "jumbotron">
<div class ="row">
<div class = "col-md-3">
  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SY1000_SX675_AL_.jpg">
</div>
   <div class = "col-md-8">
      <div class = "title">Avengers: Age of Ultron</div>
      <div class = "info">Action, Adventure, Sci-Fi</div>
      <br><br>
      <div class = "info-title">Director</div>
      <div class = "info">Joss Whedon</div>
      <br>
      <div class = "info-title">Writers</div>
      <div class = "info">Joss Whedon, Stan Lee (Marvel comics), Jack Kirby (Marvel comics)</div>
      <br>
      <div class = "info-title">Actors</div>
      <div class = "info">JRobert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans</div>
      <br>
      <div class="row" >
      <div class = "col-md-5">
      <div class = "info-title">Imdb Rating</div>
      <div class = "info">7.6</div>
    </div>
    <div class = "col-md-5">
      <div class = "info-title">Imdb Votes</div>
      <div class = "info">370909</div>
    </div>
  </div>
       <br>
    </div>
</div>
<div class = "row">
<div class = "col-md-10"> 
<br>
<div class = "info-title">plot</div>
<div class = "info">When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</div>

</div>
</div>
<br>
 <div class = "jumbotron-comments">
<div class ="jumbotron-comment">
<div class = "infoc">Vinoth</div></br>
<div class = "date"># September 27, 2016 at 10:08 pm
</div>
<br>
<div class = "comments">Vinoth's egen project.....................</div>
</div>

<div class ="jumbotron-comment">
<div class = "infoc">Varun</div></br>
<div class = "date"># September 27, 2016 at 10:08 pm</div>
<br>
<div class = "comments">Vinoth's egen project.....................</div>
</div>


<div class ="jumbotron-comment">
<div class = "infoc">Kumar</div></br>
<div class = "date"># September 27, 2016 at 10:08 pm</div>
<br>
<div class = "comments">Vinoth's egen project.....................</div>
</div>



<br><br>
<div id="comment_form">
  
  <div>
    <input type="text" name="name" id="name" value="" placeholder="Name">
  </div>
  <div>
    <textarea rows="10" name="comment" id="comment" placeholder="Comment"></textarea>
  </div>
  <div>
    <input type="submit" name="submit" value="Add Comment">
  </div>
</div>
<br>
<br>

</div>