<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Home</title>
    <link rel = "stylesheet" href = "css/Home.css">
    <link rel = "stylesheet" href = "css/grid.css">
    <link rel = "stylesheet" href = "css/infopage.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a data-toggle="tab" href="#home"><strong>Movieflix</strong></a></li>-->
    <!--</ul>-->
    <header>
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="#">MOVIEFLIX</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Movies</a></li>
            <li><a href="#">TV Series</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Top Rated Movies</a></li>
            <li><a href="#">Top Rated Series</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"</span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">IMDB Ratings</a></li>
            <li><a href="#">IMDB Votes</a></li>
            <li><a href="#">Year</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  



    </header>
<br>


<br>
<ul id="rig">
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"><div>ShawShank Redemption<br><div class = "rate">Ratings 9.6</div></div></span>
        </a>
    </li>
     <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SY1000_SX675_AL_.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Avengers<br><div class = "rate">Ratings 7.6</div></span>
        </a>
    </li>
          <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SY1000_CR0,0,640,1000_AL_.jpg"></span>
            <span class="rig-text">Interstellar<br><div class = "rate">Ratings 8.6</div></span>
        </a>
    </li>

        <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Godfather<br><div class = "rate">Ratings 9.6</div></span>
        </a>
    </li>

        <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Godfather<br><div class = "rate">Ratings 9.6</div></span>
        </a>
    </li>
         <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Godfather<br><div class = "rate">Ratings 9.6</div></span>
        </a>
    </li>
         <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Godfather<br><div class = "rate">Ratings 9.6</div></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"><div>ShawShank Redemption<br><div class = "rate">Ratings 9.6</div></div></span>
        </a>
    </li>
    </li>
          <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SY1000_CR0,0,640,1000_AL_.jpg"></span>
            <span class="rig-text">Interstellar<br><div class = "rate">Ratings 8.6</div></span>
        </a>



  </ul>
                   </div>


<!-- <div class="jumbotron">
  <div class = "row">
    <div class = "col-md-4">
  <h4>Hello, world! </h4>
</div>
<div class = "col-md-4">
  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SY1000_SX675_AL_.jpg">
</div>
</div> -->
<div class = "row">
<div class = "jumbotron">
<div class ="row">
<div class = "col-md-3">
  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SY1000_SX675_AL_.jpg">
  <br>
   <form>
        <div class="rating">
            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
            <label for="star5" >☆</label>
            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
            <label for="star4" >☆</label>
            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
            <label for="star3" >☆</label>
            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
            <label for="star2" >☆</label>
            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
            <label for="star1" >☆</label>
            <div class="clear"></div>
        </div>
    </form>
</div>
   <div class = "col-md-8">
      <div class = "title">Avengers: Age of Ultron</div>
      <div class = "info">Action, Adventure, Sci-Fi</div>
      <br><br>
      <div class = "info-title">Director</div>
      <div class = "info">Joss Whedon</div>
      <br>
      <div class = "info-title">Writers</div>
      <div class = "info">Joss Whedon, Stan Lee (Marvel comics), Jack Kirby (Marvel comics)</div>
      <br>
      <div class = "info-title">Actors</div>
      <div class = "info">JRobert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans</div>
      <br>
      <div class="row" >
      <div class = "col-md-5">
      <div class = "info-title">Imdb Rating</div>
      <div class = "info">7.6</div>
    </div>
    <div class = "col-md-5">
      <div class = "info-title">Imdb Votes</div>
      <div class = "info">370909</div>
      <div class="txt-center">

</div>
    </div>
  </div>
       <br>
    </div>
</div>
<div class = "row">
<div class = "col-md-10"> 
<br>
<div class = "info-title">plot</div>
<div class = "info">When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</div>
<br>


</div>
</div>
</div>
<br>

  <div class = "jumbotron-comments">
<div class ="jumbotron-comment">
<div class = "infoc">Vinoth</div></br>
<div class = "date"># September 27, 2016 at 10:08 pm
</div>
<br>
<div class = "comments">Awesome Screenplay</div>
</div>

<div class ="jumbotron-comment">
<div class = "infoc">Varun</div></br>
<div class = "date"># September 27, 2016 at 10:08 pm</div>
<br>
<div class = "comments">Loved the action scenes</div>
</div>


<div class ="jumbotron-comment">
<div class = "infoc">Kumar</div></br>
<div class = "date"># September 27, 2016 at 10:08 pm</div>
<br>
<div class = "comments">Boring story</div>
</div>



<br><br>
<div id="comment_form">
  
  <div>
    <input type="text" name="name" id="name" value="" placeholder="Name">
  </div>
  <div>
    <textarea rows="10" name="comment" id="comment" placeholder="Comment"></textarea>
  </div>
  <div>
    <input type="submit" name="submit" value="Add Comment">
  </div>
</div>
<br>
<br>




</div>



 

  


                 
</body>
</html>